.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal.visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    min-width: 400px;
    height: fit-content;
    background-color: var(--foreground);
    border-radius: 16px;
}