.icon {
    height: 16px;
    width: 16px;
}

.container {
    padding: 32px;
    height: 40px;
    display: grid;
    grid-template-columns: 100px 1fr 90px;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text);
}

.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.page {
    height: 24px;
    width: 24px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    color: var(--primary-text-inverted);
    background-color: var(--active);
    border-radius: 4px;
}

.disabled {
    color: var(--secondary-text-unfocused);
    fill: var(--secondary-text-unfocused);
}