:root {
  --background: #f5f5f3;
  --shadow: #e4e4e4;
  --foreground: #ffffff;
  --border: #f0f0f0;

  --primary-text: #000000;
  --secondary-text: #7e7e7e;

  --active: #2b77df;

  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-xl: 32px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: var(--font-geist-sans);
  font-size: var(--font-size-s);
}

.table-grid {
  padding: 16px;
  display: grid;
  grid-template-columns: 150px 180px 120px repeat(2, 60px) 80px 100px 180px 80px;
  grid-column-gap: 16px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--border);
}
