:root {
  --background: #f5f5f3;
  --shadow: #e4e4e4;
  --foreground: #ffffff;
  --border: #f0f0f0;

  --primary-text: #000000;
  --secondary-text: #7e7e7e;

  --active: #2b77df;

  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-xl: 32px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: var(--font-geist-sans);
  font-size: var(--font-size-s);
}

.title {
  flex: 1 1 150px;
}
.property {
  flex: 1 1 80px;
}
.shortProperty {
  flex: 1 1 60px;
}
.textProperty {
  flex: 1 1 180px;
}

