.page {
    padding: 32px;
    display: grid;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: var(--font-size-xl);
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 32px;
    position: relative;
}

.icon {
    height: 16px;
    width: 16px;
}

.icon.inverted {
    fill: var(--primary-text-inverted);
}