.list {
    margin: 0 0 16px 0;
    padding: 0 8px;
    list-style: none;
}

.list li {
    padding: 8px 0;
    border-bottom: 1px solid var(--border);
}

.singleContainer {
    display: grid;
    grid-template-columns: 60px 1fr 30px;
}

.icon {
    justify-self: flex-end;
    height: 14px;
    width: 14px;
    cursor: pointer;
}